@using System.Threading.Tasks
@using Krakkl.Query
@model BookModel

@{
    ViewBag.Title = "New Book";

    var genreList = ViewBag.Genres as List<GenreObject>;
    var languages = ViewBag.Languages as Dictionary<string, string>;

    List<SelectListItem> languageList = languages.Select(language => new SelectListItem { Text = language.Value, Value = language.Key, Selected = language.Key == Model.LanguageKey }).ToList();
}

<link href="~/css/jasny-bootstrap.min.css" rel="stylesheet" />

@{
    if (!string.IsNullOrEmpty(ViewBag.StatusMessage))
    {
        <p class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @ViewBag.StatusMessage
        </p>
    }
}

@using (Html.BeginForm("NewBook", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-danger pull-right" onclick="window.location = '/Account/Desk'; return false;">Cancel</button>
        </div>
    </div>
    <fieldset>
        <legend>Create a new book</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label><i class="glyphicon glyphicon-asterisk" data-toggle="tooltip" data-placement="top" title data-original-title="Required field"></i> Title</label><br />
                    @Html.TextBoxFor(m => m.Title, string.Empty, new { @class = "form-control" })
                    <label class="checkbox" for="Public">@Html.CheckBoxFor(m => m.Public) Public <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title data-original-title="Public books are visible to all users. This is permanent."></i></label>
                </div>
                <div class="form-group">
                    <label for="SubTitle">Sub Title</label>
                    @Html.TextBoxFor(m => m.SubTitle, string.Empty, new {@class = "form-control"})
                </div>
                <div class="form-group">
                    <label for="SeriesTitle">Series Title</label>
                    @Html.TextBoxFor(m => m.SeriesTitle, string.Empty, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="SeriesVolume">Series Volume</label>
                    @Html.TextBoxFor(m => m.SeriesVolume, string.Empty, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="genreKey">Genre</label>
                    <select id="genreKey" name="genreKey" class="form-control">
                        @{
                            foreach (var genre in genreList.OrderByDescending(x => x.IsFiction).ThenBy(x => x.Name))
                            {
                                if (genre.IsFiction)
                                {
                                    <option value="@genre.Key">(fiction) @genre.Name</option>
                                }
                                else
                                {
                                    <option value="@genre.Key">@genre.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="LanguageKey">Language <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="right" title data-original-title="The language you will write your book in, also sets the language of the text editor."></i></label><br />
                    @Html.DropDownListFor(m => m.LanguageKey, languageList, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="fileinput fileinput-new" data-provides="fileinput" data-uploadtype="image">
                    <div class="fileinput-new thumbnail" style="width: 400px; height: 400px;">
                        <img src="http://www.placehold.it/400x400/EFEFEF/AAAAAA&text=no+image" />
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 400px; max-height: 400px; line-height: 20px;"></div>
                    <div>
                        <span class="btn btn-primary btn-file">
                            <span class="fileinput-new">Upload Cover Art...</span>
                            <span class="fileinput-exists">Change</span>
                            <input id="CoverArt" name="CoverArt" type="file" accept="image/*" />
                        </span>
                        <a href="#" class="btn fileinput-exists" data-dismiss="fileinput">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-12">
                <label for="Synopsis">Synopsis <i class="glyphicon glyphicon-question-sign" data-toggle=" tooltip" data-placement="right" title data-original-title="A brief summary of your book."></i></label>
                @Html.TextAreaFor(m => m.Synopsis, new { style = "width: 1150px;", @rows = 5 })<br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-success pull-left">Create</button>
                <button class="btn btn-danger pull-right" onclick="window.location = '/Account/Desk'; return false;">Cancel</button>
            </div>
        </div>
    </fieldset>
}

<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/ckeditor/ckeditor.js"></script>
<script src="~/js/jasny-bootstrap.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".glyphicon-asterisk").tooltip();
        $(".glyphicon-question-sign").tooltip();

        CKEDITOR.replace('Synopsis', { toolbar: 'Basic', language: $('#LanguageKey').val() });

        $("#LanguageKey").change(function (e) {
            CKEDITOR.instances.Synopsis.destroy();
            CKEDITOR.replace('Synopsis', { toolbar: 'Basic', language: $('#LanguageKey').val() });
        });

        $('.fileinput').fileinput({ uploadtype: 'image' });
    });
</script>